{%- liquid 
  assign blocked_countries = settings.blocked_countries
  assign current_country = localization.country.iso_code

  assign blocked_price = settings.block_price

  -%}

<div class="product-block onboarding">
  <div class="block-inner">
    <div class="product-link" href="{{ collection.url }}">

      <div class="image-cont">
        {% capture placeholder_svg_name %}product-{{ forloop.index | modulo: 6 | plus: 1 }}{% endcapture %}
        <div class="placeholder-image">{{ placeholder_svg_name | placeholder_svg_tag }}</div>
      </div>

      <div class="product-info">
        <div class="inner">
          <div class="innerer">
            <div class="product-block__title">{{ 'onboarding.product.product_title' | t }}</div>
            {% unless blocked_countries contains current_country and blocked_price %}
              <span class="price">
                {%- if settings.product_currency_code_enabled -%}
                  {{- 1234 | money_with_currency -}}
                {%- else -%}
                  {{- 1234 | money -}}
                {%- endif -%}
              </span>
            {% endunless %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>